@model PatientEditViewModel

@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Patient</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <h1>Ajouter un Patient</h1>

    <form asp-action="AddPatient" asp-controller="Patient" method="post">

        <!-- Champ caché pour PatientId -->
        <input asp-for="Patient.PatientId" type="hidden" value="0" />

        <div class="form-group">
            <label asp-for="Patient.Age"></label>
            <input asp-for="Patient.Age" class="form-control" />
            <span asp-validation-for="Patient.Age" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Patient.Prenom"></label>
            <input asp-for="Patient.Prenom" class="form-control" />
            <span asp-validation-for="Patient.Prenom" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Patient.Nom"></label>
            <input asp-for="Patient.Nom" class="form-control" />
            <span asp-validation-for="Patient.Nom" class="text-danger"></span>
        </div>
        <h4>Antécédents </h4>
        <div class="form-group">
            @foreach (var antecedent in Model.Antecedents)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="SelectedAntecedentIds"
                           value="@antecedent.AntecedentId"
                           @(Model.SelectedAntecedentIds != null &&
                             Model.SelectedAntecedentIds.Contains(antecedent.AntecedentId) ? "checked" : "") />
                    <label class="form-check-label">@antecedent.Nom</label>
                </div>
            }
        </div>
        <div>
        <label>Allergies</label>
        @foreach (var incompatibilites in Model.Incompatibilites)
        {
            <div>
                <input type="checkbox" name="SelectedAllergieIds" value="@incompatibilites.IncompatibiliteId" @(Model.SelectedIncompatibilitesId.Contains(incompatibilites.IncompatibiliteId) ? "checked" : "") />
                <label>@incompatibilites.Interdiction</label>
            </div>
        }
    </div>
        <input type="submit" value="Ajouter le Patient" class="btn btn-primary" />
        <input type="button" onclick="history.back()" value="Annuler" class="btn btn-secondary" />
    </form>

    <div asp-validation-summary="All" class="text-danger"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
